
.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47,48,58,0.4)), to(rgba(47,48,58,0.4))),url(/images/mobile/hero-480-px-mobile.jpg);
    background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(/images/mobile/hero-480-px-mobile.jpg);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-text-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

  .hero__title {
    margin-bottom: 30px;
    color: var(--complementary-text-color);
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }

  .hero__btn {
    cursor: pointer;
    color: #fff;
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    width: 200px;
    height: 50px;
  }
   
  .hero__btn:hover,
  .hero__btn:focus {
    color: var(--complementary-text-color);
    background-color: #188CE8;
  }


  @media screen and (min-width: 320px) and (max-width: 1199px) {
    .hero {
      padding: 118px 0;
      height: 400px;
  }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      width: 100%;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(47,48,58,0.4)), to(rgba(47,48,58,0.4))),url(/images/hero.jpg);
      background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(/images/hero.jpg);
  }

}