.about-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-section__pre-title {
    color: var(--title-text-color);
    font-size: 16px; 
    line-height: 1.87;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
  }
  .about-section__title {
    color: var(--primary-text-color);
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
  }
  
  
  
  .about-list__item  {
    margin-bottom:30px;
    margin-right: 30px;
  }
  
  .about-list__item:last-child(3) {
    margin-bottom: 30px;
  }
  .about-list__item:nth-child(3n){
    margin-right: 0;
  }
  .about-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .about-list__link:hover,
  .about-list__link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .about-list__link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .about-list_card {
    position: relative;
    overflow: hidden;
  }
  
  .card-about__text {
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--complementary-text-color);
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
  
    transform: translatey(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .about-list__item:hover .card-about__text {
    transform: translateY(0);
  }
  
  .about-section {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }