.customers {
    padding: 60px 0;
  }
  @media screen and (min-width: 768px) {
    .customers {
      padding-top: 60px;
      padding-bottom: 60px;
  }
  }

  
  .customers-title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  
  .customers-list__item {
    margin: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 210px;
  }
 
  
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  .customers-list__link {
      color: #AFB1B8;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 210px;
      height: 92px;
      border-radius: 4px;
      border: 1px solid #AFB1B8;
      transition-property: color, border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-list__link:hover,
  .customers-list__link:focus {
    color: #2196F3;
    border: 1px solid #2196F3;
  }
  
  .customers-list__img {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
  @media screen and (min-width: 768px) {
    .customers-list__item  {
      width: 226px;
    }
}

  @media screen and (min-width: 1200px) {
.customers {
    padding-top: 94px;
    padding-bottom: 94px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.customers-list__item  {
  width: 170px;
}
.customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.customers-list {
  display: flex;
}
.customers-list .customers-list__link {
  width: 170px;
}

  }