/*features*/

.features {
    padding-bottom: 94px ;
  }
  
  .features-title {
    color: var(--primary-text-color);
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .features-list {
    display: flex;
    justify-content: space-between;
  }
  
  .features-list__item:not(:last-child) {
    margin-right: 30px; 
  }
  .features-list__item {
    position: relative;
  }
  
  .features-list__text {
    position: absolute;
    width: 100%;
    height: 70px;
    display: block;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--complementary-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
  }