.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--complementary-text-color);
    border-radius: 4px;
    padding: 40px;
  }
  .button__modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  
  .modal-text {
    color: var(--primary-text-color);
    justify-content: center;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
  }
  .button-close {
    fill: var(--primary-text-color);
    width: 11px;
    height: 11px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button__modal:hover .button-close,
  .button__modal:focus .button-close {
    fill: var(--accent-color);
  }
  
  .form {
    position: relative;
    margin-bottom: 10px;
  }
    
  .form__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: block;
    color: rgba(117, 117, 117, 1);
  }
  
  .icon-modal {
    position: absolute;
    left: 12px;
    top: 50%;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    position: relative;
    cursor: pointer;
    padding-left: 38px;
    margin-top: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form__input:hover {
    border-color: var(--accent-color);
  }
  
  .form__input:focus {
    border-color: var(--accent-color);
    outline: transparent;
  }
  .form__input:hover+.icon-modal {
    fill: var(--accent-color);
  }
  .modal-coments:hover {
    border-color: var(--accent-color);
  }
  .modal-coments:focus {
    border-color: var(--accent-color);
    outline: transparent;
  }
  .modal-coments {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-check {
    padding-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-check__inp-check {
    appearance: none;
    position: absolute;
  }
  .modal-check__mod-chec::after {
    content: '' ;
    display: inline-block;
    width: 16px;
    height: 15px;
    background-origin: border-box;
    background-image: url("../images/check.jpg");
  }
    
  .modal-check__inp-check:checked + {
    .modal-check__mod-chec::after {
     background-image: url("../images/icon-check.jpg");  }
  }
  .modal-check__consent {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 8px;
  }
  .modal-check__consent-link {
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
  }
  .modal__button {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    margin: auto;
    margin-top: 20px;
    color: var(--complementary-text-color);
    background: var(--accent-color);
    display: block;
  }

  .modal__button:focus {
    -webkit-box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}
.modal__button:hover {
  -webkit-box-shadow: 0px 3px 1px 
   rgb(0 0 0 / 10%), 0px 1px 2px
   rgb(0 0 0 / 8%), 0px 2px 2px 
   rgb(0 0 0 / 12%);
  box-shadow: 0px 3px 1px 
   rgb(0 0 0 / 10%), 0px 1px 2px
   rgb(0 0 0 / 8%), 0px 2px 2px
   rgb(0 0 0 / 12%);
}