/*Reset*/
p,
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --complementary-text-color: #ffffff;
  --accent-color: #2196f3;
  --typical-gap: 10px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}